name: API Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run-api-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'

    - name: Install Newman and Reporter
      run: npm install -g newman newman-reporter-htmlextra

    - name: Run Jikan Tests
      run: |
        newman run postman-tests/collections/jikan_testes_QA.postman_collection.json \
          -e postman-tests/environments/jikan_kitsu_testing.postman_environment.json \
          -r htmlextra \
          --reporter-htmlextra-export postman-tests/reports/resultado_jikan.html

    - name: Run Kitsu Tests
      run: |
        newman run postman-tests/collections/kitsu_testes_exploratorios.postman_collection.json \
          -e postman-tests/environments/jikan_kitsu_testing.postman_environment.json \
          -r htmlextra \
          --reporter-htmlextra-export postman-tests/reports/resultado_kitsu.html

    - name: Prepare GitHub Pages folder
      run: |
        mkdir -p public
        cp postman-tests/reports/resultado_jikan.html public/
        cp postman-tests/reports/resultado_kitsu.html public/

    - name: Upload artifact to GitHub Pages
      uses: actions/upload-pages-artifact@v3
      with:
        path: public

  deploy:
    needs: run-api-tests
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
