name: Publish Newman Reports to GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Newman and Reporter
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra

      - name: Run Newman tests
        run: |
          newman run postman-tests/collections/kitsu_testes_exploratorios.postman_collection.json \
            -e postman-tests/environments/jikan_kitsu_testing.postman_environment.json \
            -r htmlextra \
            --reporter-htmlextra-export postman-tests/reports/resultado_kitsu.html

      - name: Prepare report for GitHub Pages
        run: |
          mkdir -p ./public
          cp postman-tests/reports/resultado_kitsu.html ./public/index.html

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  deploy:
    needs: run-tests
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
